---
type Props = { date: Date };

const { date } = Astro.props;

const englishDate = date.toLocaleDateString('en-GB', {
    day: 'numeric',
    month: 'short',
    year: 'numeric',
    timeZone: 'UTC'
});

const chineseDate = `${date.getUTCFullYear()}年${date.getUTCMonth() + 1}月${date.getUTCDate()}日`;
---

<time datetime={date.toISOString()}>
    <span class="lang-en">{englishDate}</span>
    <span class="lang-zh" lang="zh-CN">{chineseDate}</span>
</time>
